/* Styling for Semantic HTML Elements */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2e3d49;
    color: white;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #a08585;
    padding: 10px;
  }
  
  nav ul li {
    display: inline;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #2e3d49;
    color: white;
    padding: 10px;
    text-align: center;
  }
  